:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000; /* Texto preto */
  background-color: #fff; /* Fundo branco */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}